.MuiPaper-root.esconder {
  width: 100%;
  max-width: 400px;
  height: 0;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 350ms, opacity 350ms linear, height 0s 350ms;
}

.MuiPaper-root.mostrar {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 350ms linear;
}