.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  padding: 40px;
  
  background: #f8f8f8
} 
.login-container header h1 {  
  margin-bottom: 16px;

  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 16px;
  width: 100%;
}
      
.form div {
  margin-bottom: 16px;
}

.form div label,
.form div label.Mui-focused {
  color: #2e2e30;
}
        
.form div .MuiInput-underline:after {
  border-bottom-color: #2e2e30;
}

.form button {
  background-color: #EEC271;
}