:root {
  --cor-primaria: #EEC271;
  --cor-secundaria: #2e2e30;
  --cor-azul-100: #67a2e9;
  --cor-azul-200: #468ee5;
  --cor-azul-300: #468ee5;
  --cor-azul-400: #3a75bc;
  --cor-verde-100: #bef3be;
  --cor-verde-200: #93fb93;
  --cor-vermelho-100: #a0403f;
  --cor-vermelho-200: #8c1615;
  --cor-vermelho-300: #731312;
  --cor-vermelho-400: #5a0f0e;
  --cor-cinza-100: #eee;
  --cor-cinza-200: #9b9b9b;
  --cor-fundo-light-1: #fff;
  --cor-fundo-light-2: #f8f8f8;
  --cor-fundo-light-3: #f2f2f2;
  --cor-fundo-opaco: rgba(238, 238, 238, 0.5);
  --cor-fundo-dark-1: #343434;
  --cor-fundo-dark-2: #9b9b9b;
  --cor-fundo-dark-3: #a8a8a8;
  --cor-fundo-dark-4: #e4e4e4;
  --cor-fundo-dark-opacity: rgba(0, 0, 0, 0.7);
  --cor-texto-dark-1: #4a4a4a;
  --cor-texto-dark-2: #9b9b9b;
  --cor-texto-dark-3: #a8a8a8;
  --cor-texto-dark-4: #dfdedf;
  --cor-texto-light-1: #fff;
  --cor-texto-light-2: #f8f8f8;
  --cor-texto-light-3: #a8a8a8;
  --cor-branco: #fff;
  --cor-alerta: #f00;
}